/* *{
  border: solid 1px red;
} */
/* #687864 green grey */
/* #31708E darkest blue */
/* #5085A5 medium blue */
/* #8FC1E3 lighest blue */
/* #F7F9FB whitish grey */
body{
  background-color: #f9ca4e;
  margin: auto 0;
  padding:auto 0;
}
body::-webkit-scrollbar{
  width: 0.5em;
}
body::-webkit-scrollbar-track{
  background: #050505;
}
body::-webkit-scrollbar-thumb{
  background: var(--sub-color);
}
:root{
   font-size: 12px;
    --main-color: #FCFCFC;
   --sub-color: #091d4b;
   --bar-color: #050505;
   --a-color: #091d4b;
   --a-bgcolor: #f9ca4e;
   --a-hover-color: #FAFAFA;
   --i-color: #119911;
   --head-color: #091d4b;
   --subhead-color:#091d49;
   --other-color: #687864;
   --main-font: "Comfortaa";
   --sub-font: "Merriweather";
   --anchor-font:"Comfortaa"
   --spacing-top-bar: 0em 0em 0em 0em;
   --spacing-bottom-bar: 5em 0em 20em 0em;
   --spacing-main: 10em 2em;
   --spacing-sub: 35em 2em;
   --gradient: linear-gradient(to right, #4D4DFF, #39FF14); 
 }

 a {
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--sub-font);
  font-weight: 900;
  color: var(--a-color); 
}

a:hover {
  color: var(--a-hover-color);
  background-color: var(--a-bgcolor);
}

h1{
  font-family: var(--main-font);
  font-size: 3.25rem;
  font-weight: 900;
  color: var(--a-color);
  line-height: 0.65;
  /* line-height: 2em; */
  /* border: solid 1px red; */
}

.max {
  font-family: var(--main-font);
  font-size: 1.5em;
  font-weight: 600;
  color: var(--a-color);
}

h3{
  font-family: var(--main-font);
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--subhead-color);
  line-height: 1em;
  text-align: center;
  /* padding-left: 3em; */
  /* border: solid 1px blue; */
}
h5 {
  font-family: var(--sub-font);
  font-size: 20px;
  color: var(--sub-color);
  /* border: solid 1px green; */
}

i{
  font-size: 10rem;
  font-family: var(--sub-font);
  color: #FFF;
  padding: 1rem;
}

iframe{
  border: inset 5px var(--main-color);
}

/* img{
  border: solid 1px red;
} */

p{
  font-size: 1rem;
  font-family: var(--sub-font);
  line-height: 2rem;
  text-indent: 2rem;
}

ul {
  list-style: none;
}

.main-container{
display: flex;
flex-direction: column;
}

.top-container{
  border-color: #050505;
  display:flex;
  flex-flow: row ;
  justify-content: space-between;
  /* border: solid 2px purple; */
  /* align-items: flex-end; */
}


.bottom-container{
  display:flex;
  flex-direction:column;
  align-items: center;
  padding-top: 15em;
  background-color: #f9ca4e;
}

.left-container {
  justify-items: center;
  flex-basis: 50%;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em;
  /* border: solid 1px red; */
}

.nav-bar {
  display: flex;
  justify-content:space-around;
  margin: 1em 0em 0em 0em;
  column-gap: 4.50rem;
  /* border: solid 1px black; */
}

.nav-bar:hover {
  background-color: var(--a-bgcolor);
}

.indent {
  padding-left: 40px;
}

.img-logo {
  width: 15em;
  height: 15em;
}

.header {
  display: flex;
  align-items: center;
}

.sub {
  font-size: 0.55em;
  padding-left: 5px;
}
