body{
  /* background-image: url(/images/All\ Breed\ Dog\ Obedience\ No\ Wording.png); */
  background-color: #090605;
  background-size: contain;
  background-repeat: no-repeat;
  /* border-color: #fafafa; */
  min-height: 100dvh;
  min-height: 100svh;
  margin: 0 auto;
  }
  
body::-webkit-scrollbar{
    width: 0.5em;
  }
body::-webkit-scrollbar-track{
    background: #050505;
  }
body::-webkit-scrollbar-thumb{
    background: var(--sub-color);
  }
  
*, 
*::before,
*::after {
    box-sizing: border-box;
  }
    
:root{
    font-size: 12px;
    --main-color: #f9ca4e;
    --card-title: rgba(9,125,220,1);
    --card-text: rgba(219,216,83,1);
    --card-background-layer-1: rgba(9,125,220,0.86);
    --card-background-layer-2: rgba(9,175,230,0.86);
    --card-background-dark: rgba(9, 6, 5,1);
    --main-font: "Comfortaa";
    --sub-font: "Merriweather";
    --anchor-font:"Comfortaa";
    --general-text-color: #000000;
    --card-height:425px; /* 1.5 Scaling HxW */
    --card-width: 637px;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    align-content: center;
    column-gap: 5.50rem; 
    margin: 0em 10em 0em 0em;
    /* box-shadow: 0px 2px 3px 1px rgba(0,0,0,1); */
  }

  .nav-bar a {
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--card-text);
    background-color: var(--card-background-layer-1);
    border-radius: 10px;
    transition: all 400ms cubic-bezier(0, 0.2, 0, 0.2);
    padding: 0.2em 1dvh;
    box-shadow: 0px 1px 1px 1px var(--card-background-layer-2);
  }
 
 .button-87 {
   position: relative;
   margin:0;
   cursor: pointer;
   outline: 3px solid rgba(83, 172, 219,0.75);
   transition: 300ms cubic-bezier(0, 0.2, 0, 0.2);
 }
 
 .button-87:hover {
   outline-color: rgba(83, 172, 219,0.95);
   outline-offset: 10px;
   backdrop-filter: blur(1px);
   color:#FAFAFA;
 }
  

h1{
    font-family: var(--main-font);
    font-size: 3.25rem;
    font-weight: 900;
    color: var(--a-color);
    /* border: solid 1px red; */
  }
  
h3{
    font-family: var(--main-font);
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--subhead-color);
  }
  
h5 {
    font-family: var(--sub-font);
    font-size: 20px;
    color: var(--other-color);
    /* border: solid 1px green; */
  }
  

.main-container{
  display: flex;
  flex-direction: column;
}

.header{
    border-color: #050505;
    display:flex;
    flex-flow: row row-reverse;
    justify-content: space-between;
  }
  
.header .img-logo {
    width: clamp(100px, 100vw, 200px);
    height: clamp(100px, 100vw, 200px);
  }
  
  
.main-class{
    display:flex;
    flex-direction:column;
    margin: 0em 10em 0em;
    width: clamp(400px, 59vw, auto);
  
    /* column-gap: 5em; */
  }
  
.left-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* margin: 3em; */
    h1 {
      font-size: 2.5rem;
      line-height: 1.75rem;
      .sub {
        font-size: 1.5rem;
      }
    }
  }
  
.right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .nav-bar {
    display: flex;
    flex-direction: row wrap;
    justify-content:space-evenly;
    align-items: center;
    column-gap: 3.50rem; 
    margin: 0em 10em 0em 0em;
    /* box-shadow: 0px 2px 3px 1px rgba(0,0,0,1); */
  }
  
.img-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: 0.7s;
  }
  
#puppy {
    background-image: url(/images/BlkPup.svg);
    background-size: contain;
   }
  
#beginner-sw {
    background-image: url(/images/BegineersCard.svg);
    background-size: contain;
   }
  
#beginner-sm {
    background-image: url(/images/BG+.png);
    background-size: contain;
  }
  
#advanced {
    background-image: url(/images/AC+.png);
    background-size: contain;
  }

.main {
    display: flex;
    flex-flow: row nowrap;
    max-width: 1200px;
    margin: 0 auto;
    column-gap: 5em;
  }
  
.cards {
    display: grid;
    flex-flow:  wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
.cards_item {
    display: flex;
  }

.card_image {
    display: flex;
    height: 250px;
    box-shadow: 0 50px 100px 0 var(--card-background-layer-1);
  }
  
.card_image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: var(--card-background-layer-2);
    border-radius: 5px 25px 5px 50px;
    transition: transform 300ms linear, box-shadow 0.2s;
  }



.card_text:focus,
.card:focus {
    outline: 2px dashed var(--aqua);
  }
  
.card:focus,
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
  }
  
.card_content {
    padding: 0.5rem 1rem 1rem;
    color: #090605;
  }
  
.card_title {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    color: var(--card-text);
    padding: 0.5em;
    border-radius: 5px 0 0 5px;
    transform: rotate(-1.3deg);
    transform-origin: left top;
    font-family: Georgia, Times, serif;
    font-weight: 600;
    font-size: 1.325rem; 
    position: absolute;
    overflow: hidden;
    z-index: 1;
    background-color: var(--card-title);
    animation: 0s 0s fly-in 0 reverse both; 
  }
  
@media (min-width: 535px) {
    .card_title {
      animation: 0.5s 0.25s fly-out 1 both;
    }
  }
  
.card:focus .card_title,
.card:hover .card_title {
    animation: 0.5s ease-in 0s fly-in 1 both;
  }
  
.card_text {
    font-family: var(--main-font);
    color: var(--card-text);
    line-height: 2;
    text-size-adjust: 5rem;
    padding: 0 1rem;
  }
  
.card_text p:first-of-type:first-letter {
    font-size: 1.8em;
    font-family: Georgia, Times, serif;
    margin-right: 0.05em;
  }
 
  .note {
    display: block;
    text-align: center;
    padding: 0.5rem;
    font-weight: 900;
    background-image: linear-gradient(
      -45deg,
      transparent 10%,
      var(--card-background-layer-1) 90%,
      var(--card-background-layer-2) 10%,
      transparent 80.5%
      
    );
    border:solid 5px green;
    color: var(--black);
    font-size: 1.3em;
    font-style: italic;
    margin-top: 1rem;
  }
  
  
@media (min-width: 480px) {
    .card_text {
      overflow: auto;
      max-height: 20rem;
      scrollbar-width: thin;
      /* scrollbar-color: var(--card-background-layer-1) var(--card-background-layer-2); */
    }
  
    .card_text::-webkit-scrollbar {
      width: 12px;
    }
  
    .card_text::-webkit-scrollbar-track {
      background: var(--card-background-layer-1);
    }
  
    .card_text::-webkit-scrollbar-thumb {
      background-color: var(--card-background-layer-1);
    }
  }
   
  @keyframes fly-in {
    0% {
      top: 0;
      right: 0;
      font-size: 1.325rem;
    }
  
    25% {
      top: 0;
      right: -200%;
      font-size: 1.325rem;
    }
  
    26% {
      font-size: 2rem;
    }
  
    100% {
      top: 2rem;
      right: 0;
      font-size: 2rem;
    }
  }
  
  @keyframes fly-out {
    0% {
      top: 2rem;
      right: 0;
      font-size: 2rem;
    }
  
    50% {
      top: 0;
      right: -200%;
      font-size: 1.325rem;
    }
  
    100% {
      top: 0;
      right: 0;
      font-size: 1.325rem;
    }
  }
  