/* Background colors
1) #081b31 Oxford Blue 
2) #0C0F0A Night
Foreground colors
3) #B7CE63 Yellow Green (1 - 9,92 Contrast
                        (2 - 11.05 Checker
4) #5bc9ff Deep Sky Blue (1 - 9.28
                        (2- 10.33
5) #bcd979 Pistachio    (1 - 12.36
                        (2 - 11.01
6) #ffc145 Xanthous     (1 - 10.07
                        (2 - 11.91
7) #e0ff4f  Chartreuse  (1 - 15.34
                        (2 - 17.08

*/

body{
  /* background-color: rgba(249,202,78,1); */
  background-image: url(images/All\ Breed\ Dog\ Obedience.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
  background-color: rgb(250, 250, 250, 0.6);
  max-height: 100dvh;
  max-height: 100svh;
  background-color: #FAFAFA;
  margin: 0 auto;
}

body::-webkit-scrollbar{
  width: 0.5em;
}
body::-webkit-scrollbar-track{
  background: #050505;
}
body::-webkit-scrollbar-thumb{
  background: var(--sub-color);
}

*, 
*::before,
*::after {
    box-sizing: border-box;
  }

:root{
   font-size: 14px;
   --main-color: #f9ca4e;
   --callout: #C71450;
   --chartreuse: #e0ff4f;
   --deep-blue:#5bc9ff;
   --faded-white:rgba(250,250,250,0.6);
   --oxford-blue:#081b31;
   --pistachio:#bcd979;
   --night:#0C0F0A;
   --xanthous: #ffc145;
   --yellow-green:#B7CE63; 
   --card-color: rgba(243, 195, 62, 1);
   --card-outline: rgba(0,0,0,0.05);
   --main-font: "Merriweather";
   --sub-font: "Merriweather";
   --anchor-font:"Comfortaa";
   --anchor-color-last: #081b31;
   --general-text-color: #000000;
   --nav-bar-background: #ffc145;
   --nav-bar-text: #0C0F0A;
   --nav-bar-text-hover: #5bc9ff;
   --card-height:325px; /* 1.5 Scaling HxW */
   --card-width: 487px;
 }

 h1 {
  margin:0em;
  font-size: 7rem;
  font-family: 'Mansalva';
  letter-spacing: 0.25rem;

}  h3 {
  font-size: 2rem;
  font-family: 'Italiana';
  font-weight: 700;
  letter-spacing: 0.4em;
  margin: 1.5em 0em 0em 0em;
}
p {
  font-size: 1.25rem;
  font-family: 'Italiana';
  font-weight: 600;
}

.login-bar{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  /* align-items: flex-end; */
  margin:0em 5em 0em 0em;
 form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--xanthous);
  color:var(--xanthous);
  align-items: center;
  width: 200px;
  height: 275px;
  border-radius: 1em;
  outline: solid 3px var(--oxford-blue);
  background-image: url(/images/dots.png);
  background-position: top;
  background-size: contain;
  box-shadow: 0.5em 0.5em 0.5em 0em rgba(0,0,0,1), 0.25em 0.25em 0.5em 0em var(--xanthous);
  .form-logo{
    width: 8em;
    margin:1em 0em 0em 0em; 
    box-shadow: -1em -1em 5em 0em var(--xanthous);
    border-radius: 50%;
    opacity: 1;
    }
  input {
    margin: 1.75em 0em 0em 1.5em;
    width:10em;
    background-color: var(--oxford-blue);
    color:var(--xanthous);
    box-shadow: 0.25em 0.25em 5em 0em var(--xanthous);
    border-radius: 5px;
    }
    button {
      margin: 1.75em 0em 0em 1.5em;
      width:5em;
      background-color: var(--oxford-blue);
      color:var(--xanthous);
      box-shadow: 0.25em 0em 3em 0em var(--xanthous);
      border-radius: 5px;
    }
  }
}


.nav-bar {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  column-gap: 2.50em; 
  /* box-shadow: 0px 2px 3px 1px rgba(0,0,0,1); */
}

.nav-bar a {
  width:13em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--oxford-blue);
  background-color: var(--nav-bar-background);
  border-radius: 0em 0.5em ;
  transition: all 200ms cubic-bezier(.43,.42,.56,.56);
  padding: 0.15em 0.15em;
  box-shadow: 0px 1px 1px 1px var(--nav-bar-background);
  &:last-of-type{
    color:#ffffff;
    /* color: var(--night); */
    background-color:var(--callout);
    box-shadow: 0px 1px 1px 1px var(--oxford-blue);
    font-weight: 500;
  }
}

.button-87 {
position: relative;
margin:0;
cursor: pointer;
/* background-color: rgba(71, 126, 232, 0.1); */
outline: 2px solid var(--oxford-blue);
&:last-of-type{
  outline: 2px solid var(--night);
 }
}

.button-87:hover {
outline-color: var(--xanthous);
outline-offset: 5px;
backdrop-filter: blur(1px);
color: var(--oxford-blue);
background-color: var(--xanthous);
font-weight: 900;
 &:last-of-type {
  outline-color:var(--callout);
  outline-offset: 5px;
  color:#ffffff;
  /* color: var(--night); */
  /* font-weight: 600; */
 }
}

.img-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: 0.7s;
  margin:1.5em 0em 0em 5em;
}

.main-container{
display: flex;
flex-direction: column;
}

.header{
  border-color: #050505;
  display:flex;
  flex-flow: row row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  .right-container 
  {margin-top: 5em;}
}

/* .header .img-logo {
  width: clamp(100px, 100vw, 200px);
  height: clamp(100px, 100vw, 200px);
} */

.left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em;
}

.right-container {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
  height: auto;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; */
}

.splash-container {
  display: grid;
  margin: 10em 0em 0em 0em;
  /* align-items: flex-start; */
  grid-template-columns: 1fr 1.9fr;
  column-gap: 2em;
}

.col-1 {
  display: flex;
  flex-direction: column;
  /* margin: 0em 1.5em 0em 10em; */
  h1 {
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 1.75rem;
    text-wrap: nowrap;
    font-size: 3.5rem;
  }
  h3 {
    text-transform: uppercase;
    text-align: right;
    text-wrap: nowrap;
    letter-spacing: 0.75em;
    font-size: 1rem;
  }
  p {
    text-align: right;
    text-wrap: wrap;
    letter-spacing: 0.25rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color:var(--oxford-blue);
    }
}
.col-2 {
  display: flex;
  flex-direction: column;
  color:#ffc145;
  h1 {
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1.75rem;
    text-wrap: nowrap;
    font-size: 3.5rem;
  }
  h3 {
    text-transform: uppercase;
    text-align: left;
    text-wrap: nowrap;
    letter-spacing: 0.75em;
    font-size: 1rem;
  }
  p {
    /* margin: 4em 5em 0em 0em; */
    padding: 1.5em;
    text-align: left;
    text-wrap: wrap;
    letter-spacing: 0.25rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color:var(--xanthous);
  }
}

.row-3 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.glass-poly {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin: 5em 0em 0em 2em;
  padding: 0em;
  background-color: var(--xanthous);
  align-items: center;
  width: 600px;
  height: 550px;
  border-radius: 1em;
  outline: solid 3px var(--oxford-blue);
  box-shadow: 0.5em 0.5em 1.5em 0em rgba(0,0,0,0.25), 0.25em 0.25em 0.5em 0em var(--xanthous);
  h3{
    /* color:var(--callout); */
    color:#FAFAFA;
    font-family: "Suse";
    font-weight: 900;
    font-size: 1.05rem;
    text-align: center;
    background-color: var(--callout);
    padding: 1em 0em;
    width:100%;
    } 
  ul{
    padding-top:4em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    li{
      list-style-type: none;
      text-align: left;
      text-wrap: wrap;
      /* letter-spacing: 0.25rem; */
      line-height: 3.5em;
      font-family: "Suse";
      font-size: 1.25rem;
      color: #34343B;
    }
  }
}


 .glass-poly-2 {
  /* border: solid 1px red; */
  margin: 3em 0em 0em 0em;
  width: 80%;
  border-radius: 0em 3em 0em 3em;
  backdrop-filter: blur(0.5em);
  box-shadow: 0.25em 0.25em 13em -1em rgba(255,255,255,0.1),0.25em 0.25em 1.5em -1em rgba(91, 201, 255,0.3);
}









.card {
  margin-top:50em;
}