body{
  background-image: url(/images/bkgd.svg);
  background-size:contain;
  background-repeat: repeat;
  /* border-color: #fafafa; */
  min-height: 100dvh;
  min-height: 100svh;
  margin: 0 auto;
  }
  
body::-webkit-scrollbar{
    width: 0.5em;
  }
body::-webkit-scrollbar-track{
    background: #050505;
  }
body::-webkit-scrollbar-thumb{
    background: var(--sub-color);
  }
  
* {
    box-sizing: border-box;
  }
  
  
:root{
     font-size: 12px;
     --main-color: #f9ca4e;
     --card-color: rgba(243, 195, 62, 1);
     --card-outline: rgba(0,0,0,0.05);
     --main-font: "Comfortaa";
     --sub-font: "Merriweather";
     --anchor-font:"Comfortaa";
     --general-text-color: #000000;
     --purple: #c7c7ff; 
     --orange: #ffd8b3;
     --green: #a9ecbf;
     --pink: #f33be1;
     --card-height:425px; /* 1.5 Scaling HxW */
     --card-width: 637px;
   }
  
  a {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--sub-font);
    font-weight: 300;
    color: var(--a-color); 
   }
  
a:hover {
    color: var(--a-hover-color);
    /* background-color: var(--a-bgcolor); */
  }
  
h1{
    font-family: var(--main-font);
    font-size: 3.25rem;
    font-weight: 900;
    color: var(--a-color);
    /* border: solid 1px red; */
  }
  
h3{
    font-family: var(--main-font);
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--subhead-color);
  }
  
h5 {
    font-family: var(--sub-font);
    font-size: 20px;
    color: var(--other-color);
    /* border: solid 1px green; */
  }
  

.main-container{
  display: flex;
  flex-direction: column;
}
/* .img-slide{
  background-image: url(/images/BlankBGSlideOver.png);
  background-size: cover;
  -webkit-transition:400ms ease-in-out;
  -moz-transition:400ms ease-in-out;
  -ms-transition:400ms ease-in-out;
  -o-transition:400ms ease-in-out;
  transition:400ms ease-in-out;
} */


.header{
    border-color: #050505;
    display:flex;
    flex-flow: row row-reverse;
    justify-content: space-between;
  }
  
.header .img-logo {
    width: clamp(100px, 100vw, 200px);
    height: clamp(100px, 100vw, 200px);
  }
  
  
.main-home{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-top: 15em;
    width: clamp(400px, 90vw, auto);
  }
  
.main-class{
    display:flex;
    flex-direction:column;
    margin: 0em 10em 0em;
    width: clamp(400px, 59vw, auto);
  
    /* column-gap: 5em; */
  }
  
.left-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* margin: 3em; */
    h1 {
      font-size: 2.5rem;
      line-height: 1.75rem;
      .sub {
        font-size: 1.5rem;
      }
    }
  }
  
.right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .nav-bar {
    display: flex;
    flex-direction: row wrap;
    justify-content:space-evenly;
    align-items: center;
    column-gap: 3.50rem; 
    margin: 0em 10em 0em 0em;
    /* box-shadow: 0px 2px 3px 1px rgba(0,0,0,1); */
  }
  
  
  
  .button-87 {
    margin: 0;
    padding: 1.25em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgba(0,0,0,1);
    border-radius: 50px;
    display: block;
    border: 0px;
    font-weight: 500;
    box-shadow: 0px 0px 14px -7px #53acdb;
    background-image: linear-gradient(45deg, rgba(82, 171, 218,0.75) 0%, rgba(82, 171, 218,0.90)  51%, rgba(83, 172, 219,1)  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .button-87:active {
    transform: scale(0.95);
  }

.img-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: 0.7s;
  }
  
.icon {
    width: 25em;
    position:absolute;
    z-index: 1;
    margin: -15em 0em 0em -3em;
  }
  
.icon > h1 {
    color: #fafafa;
    font-family: "SUSE";
  }

.card-wrapper {
  display: grid;
  /* border: solid 1px red; */
  grid-template-columns: 100px 2fr 100px 1fr 100px;
  grid-row: auto;
  margin: 10em 0em 30em 0em;
  align-items: center;
  border-radius: 50px;
  -webkit-transition:400ms ease-in-out;
  -moz-transition:400ms ease-in-out;
  -ms-transition:400ms ease-in-out;
  -o-transition:400ms ease-in-out;
  transition:400ms ease-in-out;

}

.new-card:hover {
  backdrop-filter: blur(5px);
  border-radius: 50px;
  box-shadow: 0em 0em 0.5em 0.5em rgba(82, 171, 218,0.8);
}

.card-wrapper img{
    position: absolute;
    margin: -12em 0em 0em -2em; 
    padding: 5em 3em;
    /* fix scaling issue */
    z-index: 1;
}

:where(.card-wrapper:hover) .new-card {
  transform: scale(1);
}

/* .card-wrapper:nth-of-type(1n+2){
  background-image: url(/images/BlankBG.png);
} */


:where([class^='box']) h1 {
    font-size: 2.5rem;
    font-family: var(--sub-font);
    /* color: #090605; */
    color: #fafafa;
    text-align: left;
    margin: 0em 0em 0em 0em;
    
    /* padding-right: 10em; */
  }
  
:where([class^='box']) p {
    font-size: 1.25rem;
    font-family: var(--sub-font);
    font-weight: 600;
    color: #090605;
    text-align: left;
    line-height: 2.5em;
    letter-spacing: 0.075em;
    /* padding-right: 10em; */
  }

.cards-display:after {
  content: "";
  width: inherit;
  height: inherit;
  box-shadow: -1px -1px 1px 5px rgba(0,0,0,1);
}

.cards-display [class^='box-text'] {
   text-align: left;
   margin: 0em 5em 0em 5em;
  }
    
.new-card {
    width: var(--card-width);
    height: var(--card-height);
    /* box-shadow: 1px 1px 3px 1px rgba(255,255,255,0.5), 1px 1px 3px 1px rgba(0,0,0,0.5); */
    border-radius: 50px;
    -webkit-transition:400ms ease-in-out;
    -moz-transition:400ms ease-in-out;
    -ms-transition:400ms ease-in-out;
    -o-transition:400ms ease-in-out;
    transition:400ms ease-in-out;
  }  
  
.design-card {
  width: var(--card-width);
  height: var(--card-height);
  margin: 0;
  padding: 0em 0em 5em 0em;
  font-size: 1.75em;
  border-radius: 50px;
  box-shadow: 1px 1px 5px rgba(255,255,255, 0), -1px -1px 5px 1px rgba(83, 172, 219,1);
  }
  
#puppy {
    background-image: url(/images/BlkPup.svg);
    background-size: contain;
   }
  
#beginner-sw {
    background-image: url(/images/BegineersCard.svg);
    background-size: contain;
   }
  
#beginner-sm {
    background-image: url(/images/BG+.png);
    background-size: contain;
  }
  
#advanced {
    background-image: url(/images/AC+.png);
    background-size: contain;
  }

.design-card span {
    width: var(--card-width);
    height: var(--card-height);
    margin: 0em 0em 0em 0em;
    position: absolute;
    border-top-left-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 50px;
    z-index: 0;
  
  }
  
.design-card span::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 100px;
    /* background-color: blue; */
    border-top-left-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 50px;
    /* background-image: linear-gradient(90deg, rgba(255, 216, 179,0.95),rgba(255,216,179,1)); */
      z-index: 1;
  }
  
.design-card span::after {
    content: '';
    position: absolute;
    width: 400px;
    height: 100px;
    /* margin:20px 0em 0em 2em; */
    border-top-left-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 50px;
    /* box-shadow: 1em 1em 2em -0.25em rgba(0,0,0,0.1); */
    z-index: -1;
  }
  
span h1{
    margin-left: 0em;
    font-size: 1.25em;
    color: white;
    z-index: 1;
    }
  
.hr-design {
  margin: 0em 5em 0em 0em;
  border:    1px solid #53acdb;
  width: 90%;
  /* transform: translateX(-10%); */
  /* height:    2px; */

}


/* .hr-design::before {
  content: "";
  position: absolute;
  width: 75em;
  height: 20px;
  background-color: #fafafa;
  border-left: solid 2px #fafafa;

}

.hr-design::after {
  content: "";
  position: absolute;
  width: 75em;
  height: 20px;
  background-color: #fafafa; 
  border-left: solid 2px #fafafa;

} 