/* *{
  border: solid white 1px;
} */

body{
  margin: auto;
  border: 1px solid white;
  background-color: #272727;
  /* background-image: url('background1.jpg');
  background-attachment: fixed; */
}
p {
    text-indent: 1.25em;
    font-size: 1em;
    line-height: 2em;
    color: #14a76c;
}
/* Color schemes innovative and Audacious
#272727 Blackish
#747474 grayish
#ff652f orangish
#ffe400 yellowish
14a76c greenish
 */

/* Color schemes Sleek and Futuristic
#2c3531 black-grey
#116466 darker teal
#d9b08c natural brownish
#ffcb9a natural salmon
#d1e8e2 lighter blue
*/

/* Color schemes */

.HeadContainer {
  display:flex;
  justify-content: center;
  height: 20em;
}

.HeaderBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}
.Header{
  font-size:48px;
  font-family: "Lora";
  color: #ff652f;
}
/* .Navigation {
  display: flex;
  justify-content:flex-end;
  flex-wrap: wrap;
  font-family: "suranna";
}
.Navigation a{
  padding: 5px 10px 5px 5px;
  font-size: 30px;
  text-decoration: none;
}
a:link{
  color: #14a76c;
}
a:visited{
  color: #14a76c;
}
a:hover{
  color:#bababa;
}
a:active{
  color:# #14a76c;
} */

.Container{
  display: flex;
  /* justify-content: space-between; */
  margin: 10em 0em;
  background-color: #252525;
}
.Pic-side {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0em 2em;
}
.Pic-side img{
  height: 20em;
  border: solid #ffe400 2px;
}

.Blog-side{
    padding: 0em 2em 0em 2em;
    font-family: Arimo;
    color: #14a76c;
}
.Github-link{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-self:flex-start;
  /* color: #fff; */
}
.Github-link a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.5em;
  font-family: Roboto;
  /* color: #14a76c; */
}
a:link{
  color: #747474;
}
a:visited{
  color: #747474;
}
a:hover{
  color:#747474;
}
a:active{
  color:# #747474;
}
.Github-link img{
  width:3em;
  height:3em;
}
.Github-link p{
  color: #747474;
}
