/* Background colors
1) #081b31 Oxford Blue 
2) #0C0F0A Night
Foreground colors
3) #B7CE63 Yellow Green (1 - 9,92 Contrast
                        (2 - 11.05 Checker
4) #5bc9ff Deep Sky Blue (1 - 9.28
                        (2- 10.33
5) #bcd979 Pistachio    (1 - 12.36
                        (2 - 11.01
6) #ffc145 Xanthous     (1 - 10.07
                        (2 - 11.91
7) #e0ff4f  Chartreuse  (1 - 15.34
                        (2 - 17.08

*/
/* html {
  animation: 1s fadeIn ease-in;
  -webkit-animation: 1s fadeIn ease-in;
  -moz-animation: 1s fadeIn ease-in;
} */
body{
  background-image: url(images/All\ Breed\ Dog\ Obedience\ Only\ Photo.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: top;
  min-height: 100dvh;
  min-height: 100svh;
  background-color: #FAFAFA;
  margin: 0 auto;
  }
  
body::-webkit-scrollbar{
    width: 0.5em;
  }
body::-webkit-scrollbar-track{
    background: #050505;
  }
body::-webkit-scrollbar-thumb{
    background: var(--sub-color);
  }
  
*, 
*::before,
*::after {
    box-sizing: border-box;
  }
    
:root{
  font-size: 14px;
  --main-color: #ffc145;
  --oxford-blue:#081b31;
  --deep-blue:#5bc9ff;
  --pistachio:#bcd979;
  --card-title: #e0ff4f;
  --card-text: #B7CE63;
  --card-background-layer-1: #bcd979;
  --card-background-layer-2: #e0ff4f ;
  --card-background-layer-3: #ffc145 ;
  --card-background-dark: #081b31;
  --nav-bar-background: #ffc145;
  --nav-bar-text: #0C0F0A;
  --anchor-color-last: #081b31;
  --main-font: "Comfortaa";
  --sub-font: "Merriweather";
  --anchor-font:"Comfortaa";
  --general-text-color: #000000;
  --card-height:425px; /* 1.5 Scaling HxW */
  --card-width: 637px;
}
h1{
  font-family: var(--main-font);
  font-size: 3.25rem;
  font-weight: 900;
  color: var(--a-color);
  /* border: solid 1px red; */
}

h3{
  font-family: var(--main-font);
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--subhead-color);
}

h5 {
  font-family: var(--sub-font);
  font-size: 20px;
  color: var(--other-color);
  /* border: solid 1px green; */
}
  


.nav-bar {
  display: flex;
  flex-direction: row;
  align-content: center;
  column-gap: 5.50em; 
  margin: 0em 10em 0em 0em;
  /* box-shadow: 0px 2px 3px 1px rgba(0,0,0,1); */
}

.nav-bar a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--nav-bar-text);
  background-color: var(--nav-bar-background);
  border-radius: 0em 0.25em ;
  transition: all 400ms cubic-bezier(.18,.69,.25,.74);
  padding: 0.15em 0.15em;
  box-shadow: 0px 1px 1px 1px var(--nav-bar-background);
  &:last-of-type{
    color: var(--oxford-blue);
    background-color:var(--deep-blue);
    box-shadow: 0px 1px 1px 1px var(--deep-blue);
    font-weight: 600;
  }
}


.button-87 {
position: relative;
margin:0;
cursor: pointer;
/* background-color: rgba(71, 126, 232, 0.1); */
outline: 2px solid var(--nav-bar-background);
&:last-of-type{
  outline: 3px solid var(--deep-blue);
 }
}

.button-87:hover {
outline-color: var(--nav-bar-background);
outline-offset: 5px;
backdrop-filter: blur(1px);
color:#ffffff;
 &:last-of-type {
  outline-color:var(--deep-blue);;
  outline-offset: 5px;
  color: var(--oxford-blue);
  font-weight: 800;
 }
}

.img-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: 0.7s;
}

.main-container{
  display: flex;
  flex-direction: column;
}
  
.header{
  border-color: #050505;
  display:flex;
  flex-flow: row row-reverse;
  justify-content: space-between;
}
  
.header .img-logo {
  width: clamp(100px, 100vw, 200px);
  height: clamp(100px, 100vw, 200px);
}

.left-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* margin: 3em; */
    h1 {
      font-size: 2.5rem;
      line-height: 1.75rem;
      .sub {
        font-size: 1.5rem;
      }
    }
  }
  
.right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
 
.place-holder {
  display: grid;
  grid-template-columns: auto;
  /* grid-template-rows: 1000px; */
  background-color: #FAFAFA;
  margin-top: 35em;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  justify-content: space-around;
  margin: 7em 0em 0em 0em;
  padding:0;
}

.card {
	width: 380px;
	height: 360px;
	border-radius: 1em 1em 1em 1em;
	padding: 1rem;
	position: relative;
	display: flex;
  flex-direction: column;
  background-color: transparent;
	/* align-content: space-around; */
	transition: 700ms ease-in-out;
	box-shadow:  0em -1.5em 5em 0em rgba(255,255,255,0.25);
	&:hover { 
		transform: translateY(0px);
    .info p{
      background-color: var(--card-background-layer-3);
      z-index: -5;
      margin-top: -25em;
      border-radius: 25px;
      color: var(--oxford-blue);
      transition: 700ms ease-in-out;
      opacity: 1;
      scroll-behavior: smooth;
     }
    img {
      filter: blur(1px);
    }
    button {
      opacity: 1;
    }
  }
		&:before {
			opacity: 1;
    }
		.info{
			opacity: 1;
			transform: translateY(100px);
      transition: 400ms ease-in-out;
    }
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 1em 0em 0em 1em;
		background: rgba(black, 0.6);
		z-index: 2;
		transition: 700ms;
		opacity: 0;
    }
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 1em;
  }
}


.info {
  display: flex;
  flex-direction: column;
  z-index: 3;
  color: white;
  opacity: 0;
		transform: translateY(0%, 0px);
  h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 1px #081b31;
    margin: -2.5em 0em 0em 0em;
    color: var(--card-background-layer-3);
    /* border-radius: 0px 15px 0px 0px; */
    text-align: center;
  }
  h3 {
    margin: 10em 0em 0em;
    /* text-shadow: 1px 1px 1px #081b31; */
    padding:0.5em;
    color: var(--card-background-dark);
    text-align: center;

  }
  p{
    height: auto;
    align-self: center;
    letter-spacing: 0rem;
    line-height: 2rem;
    text-align: left;
    font-size: 1.5rem;
    margin: -20em 0em 0em;
    padding:1em 2em;
    opacity: 0;
    overflow-y: visible
    scrollbar-width: thin;
    scrollbar-color: var(--card-background-dark) var(--card-background-layer-3);
    scrollbar-gutter: unset;
    transition: 700ms ease-in-out;
    width:150%;
  }
  
  button {
    position: relative;
    width:10em;
    height: 3em;
    margin: 2em 0em;
    color:#ffc145;
    background: #081b31;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    align-self: center;
    opacity: 0;
    overflow: hidden;
    transition: 500ms ease-in-out;
    &:hover{
      background-color: #ffc145;
    }
    &::before{
      content: "";
      position: absolute;
      width:0%;
      height: 100%;
      left:-5em;
      top:0;
      transform: skewX(45deg);
      background-color:transparent;
      z-index: -1;
      transition: all 500ms;
    }
    &:hover::before{
      position: absolute;
      width:200%;
      background-image: linear-gradient(-45deg, #081b31, #ffc145);
      transform: translateX(150%);
      z-index: 1;
    }
    &:hover::after {
      content: "";
      position: relative;
      box-shadow: 1em 1em 1em rgba(0,0,0,1);
    }
  }
}


.card-special {
	width: 380px;
	height: 360px;
	border-radius: 1em 1em 1em 1em;
	padding: 1rem;
	position: relative;
	display: flex;
  flex-direction: column;
  background-color: transparent;
	/* align-content: space-around; */
	transition: 700ms ease-in-out;
	box-shadow:  0em -1.5em 5em 0em rgba(255,255,255,0.25);
	&:hover { 
		transform: translateY(0px);
    .info-special p{
      background-color: var(--pistachio);
      z-index: -5;
      margin-top: -25em;
      border-radius: 25px;
      color: var(--oxford-blue);
      transition: 700ms ease-in-out;
      opacity: 1;
      scroll-behavior: smooth;
     }
    img {
      filter: blur(1px);
    }
    button {
      opacity: 1;
    }
  }
		&:before {
			opacity: 1;
    }
		.info-special{
			opacity: 1;
			transform: translateY(100px);
      transition: 400ms ease-in-out;
    }
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 1em 0em 0em 1em;
		background: rgba(black, 0.6);
		z-index: 2;
		transition: 700ms;
		opacity: 0;
    }
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 1em;
  }
}


.info-special {
  display: flex;
  flex-direction: column;
  z-index: 3;
  color: white;
  opacity: 0;
		transform: translateY(0%, 0px);
  h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 1px vae(--deep-blue);
    margin: -2.5em 0em 0em 0em;
    color: var(--pistachio);
    /* border-radius: 0px 15px 0px 0px; */
    text-align: center;
  }
  h3 {
    margin: 10em 0em 0em;
    /* text-shadow: 1px 1px 1px #081b31; */
    padding:0.5em;
    color: var(--pistachio);
    text-align: center;

  }
  p{
    height: auto;
    align-self: center;
    letter-spacing: 0rem;
    line-height: 2rem;
    text-align: left;
    font-size: 1.5rem;
    margin: -20em 0em 0em;
    padding:1em 2em;
    opacity: 0;
    overflow-y: visible;
    scrollbar-width: thin;
    scrollbar-color: var(--pistachio) var(--card-background-dark);
    scrollbar-gutter: unset;
    transition: 700ms ease-in-out;
    width:150%;
  }
}


.alignment-buttons {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn {
  margin:0 auto;
  padding:0 auto;
  font-size: 1.2rem;
  font-family: "Comfortaa";
  font-weight: 600;
  background-color: #081b31;  
  
}
.btn:hover {
  color:#081b31;
}

.banner {
  width:100%;
  background-color: #ffc145;
  border-radius: 0em 0em 1em 1em;
  z-index: -1;
}

.banner-special {
  width:100%;
  background-color: var(--oxford-blue);
  border-radius: 0em 0em 1em 1em;
  z-index: -1;
}


@keyframes fadeIn {
  from { opacity: 0;
  }
  to { opacity: 1;
  }
}
