
body{
  /* background-image: url('../images/background2_gaus.jpg');
  background-position: center;
  background-attachment: fixed; */
  background: #050505;
  /* background-image: linear-gradient(to top, #39FF14, #1b03a3); */
  margin:0;
  padding:0;
}
body::-webkit-scrollbar{
  width: 0.5em;
}
body::-webkit-scrollbar-track{
  background: #050505;
}

body::-webkit-scrollbar-thumb{
  background: #FAFAFA;
}

 :root{
   font-size: 12px;
   --main-color: #4666FF;
   --sub-color: yellow;
   --bar-color: #050505;
 }

p{
  color: var(--sub-color);
  margin-left: 5rem;
}

h1 {
  color: #4666FF;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
  /* color: #ff652f; */
  color: var(--main-color);
  font-size: 1.5rem;
  font-family: "Lora";
  padding-bottom: 1em;
  text-decoration: none;
}

iframe {
  border: none;
  color: inherit;
}

img {
  background-color: #252525;
  width: 20em;
  height: 20em;
  border-radius: 50px;
}

.side-navbar{
  width: 5rem;
  height: 100vh;
  position: fixed;
  background: #202020;
  /* border-left: solid 3px var(--sub-color); */
  border-right: solid 10px var(--sub-color);
  transition: width 250ms ease;
}

.side-navbar:hover{
  width: 10rem;
}
.side-navbar:hover .side-link-text{
  display: block;
  color: var(--sub-color);
}
.side-navbar a{
  text-decoration: none;
}

.side-navbar-nav{
  list-style: none;
  padding:0;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.side-nav-item{
  opacity: 35%;
  width: 100%;
  padding: 0;
}
.side-nav-item:hover{
  background: var(--bar-color);
  opacity: 100%;
}

.side-nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
}

.side-nav-link i{
  min-width: 2rem;
  margin: 0 1.5rem;
  font-size: 2rem;
  color: var(--sub-color);
}

.side-navbar i{
  transform: rotate(0deg);
  transition: 200ms ease;
  opacity: 100%;
}

.side-navbar:hover i{
  transform: rotate(-180deg);
  transition: 200ms ease;
}

.side-link-text{
  display: none;
  margin-left: 0.5em;
  padding-left: 0.5em;
  font-size: 1rem;
  font-family: "Merriweather";
  font-weight: 900;
}

.logo {
  opacity: 100%;
}
.logo i {
  color: var(--sub-color);
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10em;
  /* padding: 1rem; */
}

.HeadContainer {
  display:flex;
  justify-content: center;
  height: 20em;
}

.HeaderBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.Header{
  font-size: 3em;
  font-family: "Lora";
  text-shadow: 2px 2px #000000;
  color: var(--main-color);
}
.SubHeader{
  font-size: 1.75em;
  font-family: "Lora";
  color: var(--sub-color);
}

.Container{
  display: flex;
  margin: 10em 1em;
  background-color: #202020;
  border: solid 3px #ff652f;
}

.Pic-side {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0em 2em;
}
.Pic-side img{
  height: 25em;
  width: 25em;
  border: solid #4666FF 2px;
}

.Blog-side{
    padding: 0em 2em 0em 2em;
    font-family: "Arimo";
    color: var(--main-color);
}

.Blog-side h1{
  font-size: 3em;
  font-family: "Merriweather";
}
.Blog-side-p {
    text-indent: 10em;
    font-size: 1em;
    line-height: 2em;
    color: var(--main-color);
}
.Github-link{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-self:flex-start;
}
.Github-link a{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  text-decoration: none;
  font-size: 1.75em;
  font-family: "Roboto";
  /* color: #14a76c; */
}
.Github-link img{
  width:2.5em;
  height:2.5em;
  margin-right: 1em;
}
.Github-link p{
  color: #ff652f;
}
.Footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  background: #fafafa;
}
